<!--
<section class="property-binding">

  <article>
    <h3>Interpolation</h3>
    <p>String renderizada com interpolation: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Faço e curto o Curso Angular: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}">
    <img [src]="urlImage">    
    <img bind-src="urlImage">
  </article>

  <article class="container">
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0"> // #variavel (event)="valor"
        <option value="alert-success">Success</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>

      <hr>
      <div class="alert alert-danger" role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Texto só aparece em caso de erro.
      </div>

      <hr>
      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme valor do combo
      </div>
      
      <hr>
      <div class="alert" role="alert"
        [class.alert-success]="classe.value == 'alert-success'">
        Success
      </div>
      <div class="alert" role="alert"
        [class.alert-info]="classe.value == 'alert-info'">
        Info
      </div>
      <div class="alert" role="alert"
        [class.alert-warning]="classe.value == 'alert-warning'">
        Warning
      </div>
      <div class="alert" role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'">
        Danger
      </div>
      
    </div>
  </article>
</section>
-->

<!--
<section class="event-binding">
  
  <article class="container">
    <h3>Event Binding</h3>
    <div>
      <button (click)="btnClicked()"
        class="btn btn-primary">
        Click!
      </button>
      
      <hr>
      
      <input class="form-control" type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)" 
        (blur)="salvarValor(campoInput.value)"
        #campoInput />
      
      <hr>
      
      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <hr>

      <span
        (mouseover)="onMouseOverOut()" 
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
      >
        Passe o mouse sobre mim
      </span>
    </div>
  </article>

</section>
-->

<!--
<section class="two-way-binding">

  <article class="container">
    <h3>Two-Way Data Binding</h3>
    <div>

      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value"
      />

      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      />

      // Two Way Data Binding
      <input type="text" [(ngModel)]="nome">

      // Two Way Data Binding Canônico
      <input type="text" bindon-ngModel="nome">

      <p>Você digitou: {{ nome }}</p>
    </div>

    <hr>

    <div>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">

      <p>Meu nome é {{ pessoa.nome }} e eu tenho {{ pessoa.idade }} anos.</p>
    </div>

  </article>

</section>
-->

<section class="input-output-properties">
    <article class="container">
        <h3>Input / Output Properties</h3>

        <app-curso [nome]="nomeDoCurso"></app-curso>
    </article>
</section>